@model IEnumerable<EventViewModel>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
	<a asp-action="Add">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EventDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TicketId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Stock)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ImageUrl)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CategoryId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LocationId)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EventDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TicketId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Stock)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ImageUrl)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CategoryId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LocationId)
				</td>
				<td>
					<div style="display: inline-block;">
						<form asp-action="Edit" asp-controller="AdminEvent" method="get" style="display: inline;">
							<input type="hidden" name="id" value="@item.Id" />
							<button type="submit" class="btn btn-primary">Edit</button>
						</form>
						<form asp-action="Delete" asp-controller="AdminEvent" method="post" style="display: inline;">
							<input type="hidden" name="id" value="@item.Id" />
							<button type="submit" class="btn btn-danger">Delete</button>
						</form>
					</div>

				</td>
			</tr>
		}
	</tbody>
</table>
