@model List<EventViewModel>
@{
    Layout = "_Layoutfake";
}
<h3 style="padding: 4%;"> Aramanızla ilgili sonuçlar 🔍 </h3>
@if (Model.Any())
{
    <div class="row" style="padding: 2%;">
        @foreach (var item in Model)
        {
          //  <form asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id"asp-route-quantity="1"asp-route-ticket="@item.TicketId"  method="get">
            <div class="col-lg-3 col-md-4 col-sm-6 mix" >
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="@item.ImageUrl"style="max-height: 200px;">
                        <ul class="product__hover">
                          <form asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id"asp-route-quantity="1"asp-route-ticket="@item.TicketId"  method="get">
                            <li><a href="@item.ImageUrl" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <input type="hidden" name="id" value="@item.Id" />
                             <input name="quantity" class="text-center" type="number" value="1" min="1" max="@item.Stock" />
                            <li> 
                                  <button class="icon_bag_alt" aria-label="Add to cart"></button></li></form>
                        </ul> 
                    </div>

                    <div class="product__item__text">
                        <h6><a href="#">@item.Name</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>

                    </div>
                 
                </div>
            </div>

        }
  
    </div>
}

else
{
    <p>No events found matching your criteria.</p>
}
