@model List<EventViewModel>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layoutfake.cshtml";
}

@foreach (var item in Model)
{
    <div class="row">
        @if (item != null && item.ImageUrl != null)
        {
            <div class="container">
                <div class="row align-items-center">
                    <!-- Etkinlik adını resmin üstüne yerleştir, rengini açık gri yap ve boyutunu 3px büyüt -->
                    <div class="col-12 text-center mb-0">
                        <h2 class="font-weight-bold" style="background-color: whitesmoke; color: Black; margin-top: 0; margin-bottom: 0; font-size: calc(1.5em + 3px);">@item.Name</h2>
                    </div>
                    <!-- Resim ve bilgileri yan yana göster -->
                    <div class="col-md-4">
                        <img src="@item.ImageUrl" class="img-fluid" alt="@item.Name" style="max-width: 100%; height: auto;">
                    </div>
                    <div class="col-md-8 text-start">
                        <h5 class="mt-2">Sanatçılar:</h5>
                        <!-- Sanatçılar listesi burada olacak -->
                        <h5>Lokasyon:</h5>
                        <p>@item.Location</p>
                        <h5>Tarih:</h5>
                        <p>@item.EventDate</p>
                    </div>
                </div>
            </div>
        }
        else
        {
            <p>Üzgünüz, bu öğe şu anda mevcut değil.</p>
        }
    </div>
} 
