@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutHome";
}
<form id="searchForm" method="get" action="@Url.Action("Index","Event")">
    <div class="form-row align-items-center " style="background-color: snow; justify-content:center; padding: 2%;">
        <div class="col-auto my-1">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Kategori seçiniz</label>
            <select class="custom-select mr-sm-2" id="categorySelect" name="category">
                @await Component.InvokeAsync("Category")
            </select>
            <div class="col-auto my-1">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Yer</label>
                <select class="custom-select" id="locationSelect" name="location">
                    @await Component.InvokeAsync("Location")
                </select>
                <div class="col-auto">
                    <div class="date-picker-title">
                        <label class="mr-sm-2" for="datepicker">Tarih</label>
                    </div>
                    <div class="date-picker-container">
                        <input type="date" class="form-control date-input" id="datepicker">
                        <span class="calendar-icon">📅</span>

                    </div>
                </div>

                <div class="col-auto my-1" style="display:flex">
                    <button type="submit" class="btn btn-primary" style="margin-top: 30px;">Submit</button>
                </div>
                <style>
                    .date-picker-container {
                        position: relative;
                        display: inline-block;
                    }

                    .date-input {
                        padding-right: 30px;
                    }

                    .calendar-icon {
                        position: absolute;
                        right: 15px;
                        top: 50%;
                        transform: translateY(-50%);
                        pointer-events: none;
                    }
                </style>
                <script>
                    $('#datepicker').datepicker({
                        uiLibrary: 'bootstrap5'
                    });
                </script>
            </div>
        </div>
</form>
<div id="searchResults"></div>
<!-- Categories Section Begin -->
<section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="categories__item categories__large__item set-bg"
                     data-setbg="https://img.freepik.com/premium-photo/group-balls-sports-illustration-background-ai-generated_206846-3004.jpg">
                    <div class="categories__text">
                        <h2 style=" color:snow;">Spor</h2>
                        <a style="color: snow;display: inline-block;" asp-area="" asp-controller="Event"
                           asp-action="Sport"> Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg"
                             data-setbg="https://as1.ftcdn.net/v2/jpg/03/20/56/94/1000_F_320569480_mohiHpUxGFQv8nGE6DDnZvDWzTpgOEk0.jpg">
                            <div class="categories__text"
                                 style="position: absolute; top: 20px; left: 50%; transform: translateX(-50%); text-align: center;">
                                <h4 style="color: snow; margin: 0;">Sinema</h4>
                                <a style="color: snow;display: inline-block;" asp-area="" asp-controller="Event"
                                   asp-action="Cinema"> Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg"
                             data-setbg="https://media.istockphoto.com/id/1328201960/vector/two-theater-masks-comedy-and-drama-symbol.jpg?s=612x612&w=0&k=20&c=jsmOqB1ojCFrMCvpWmpwlwKetm2zFdaM_4_RfkhHZCc=">
                            <div class="categories__text"
                                 style="position: absolute; top: 20px; left: 50%; transform: translateX(-50%); text-align: center;">
                                <h4 style="color: snow; margin: 0;">Tiyatro</h4>
                                <a style="color: snow;display: inline-block;" asp-area="" asp-controller="Event"
                                   asp-action="Theater"> Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0" style="position: relative;">
                        <div class="categories__item set-bg"
                             data-setbg="https://www.kampustenevar.com/upload/Metaverse_Konserleri_-_TeknoCase_66725.png">
                            <div class="categories__text"
                                 style="position: absolute; top: 20px; left: 50%; transform: translateX(-50%); text-align: center;">
                                <h4 style="color: snow; margin: 0;">Konser</h4>
                                <a style="color: snow;display: inline-block;" asp-area="" asp-controller="Event"
                                   asp-action="Concert"> Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg"
                             data-setbg="https://as1.ftcdn.net/v2/jpg/04/34/66/54/1000_F_434665468_Xh0E3MdXPP2te5EpFDCWaqupkl4IIpBg.jpg"
                             style="position: relative;">
                            <div class="categories__text"
                                 style="position: absolute; top: 20px; left: 50%; transform: translateX(-50%); text-align: center;">
                                <h4 style="color: snow; margin: 0;">Workshops</h4>
                                <a style="color: snow;display: inline-block;" asp-area="" asp-controller="Event"
                                   asp-action="Workshop"> Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Categories Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>Artysan Öneriyor</h4>
                </div>
            </div>
        </div>
        <div class="row property__gallery">
            <div class="col-lg-3 col-md-4 col-sm-6 mix women" style="width: max-content;">
                <div class="product__item">
                    @await Component.InvokeAsync("Popular")

                </div>
            </div>






        </div>
    </div>
</section>
<!-- Product Section End -->
<!-- Banner Section Begin -->
<section class="banner set-bg" data-setbg="/img/banner/violin.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>Eşsiz Etkinlikler</span>
                            <h1>Kültür Merkezleri </h1>
                            <a href="#">Şimdi Al</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>Eşsiz Etkinlikler</span>
                            <h1>Harika Gösteriler </h1>
                            <a href="#">Şimdi Al</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>Eşsiz Etkinlikler</span>
                            <h1>Muhteşem Etkinlikler </h1>
                            <a href="#">Şimdi Al</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->
<!-- Trend Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>Yakındaki Etkinlikler</h4>
                </div>
            </div>
        </div>
        <div class="row property__gallery">
            <div class="col-lg-4 col-md-4">
                <div class="product__item">                   
                    @await Component.InvokeAsync("Vizyon")

                </div>
            </div>


        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>Gelecek Filmler</h4>
                </div>
            </div>
        </div>
        <div class="row property__gallery">
            <div class="col-lg-4 col-md-4">
                <div class="product__item">
                    @await Component.InvokeAsync("Future")

                </div>
            </div>


        </div>
    </div>
</section>
<!-- Trend Section End -->
<!-- Discount Section Begin -->
<section class="discount">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="discount__pic">
                    <iframe width="720" height="390" src="https://www.youtube.com/embed/82-5u3H1-yk?&autoplay=1&mute=1&controls=0&loop=1" allow='autoplay; loop'></iframe>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="discount__text" style="background-color: antiquewhite;">
                    <div class="discount__text__title">
                        <span>İndirim</span>
                        <h2>Summer 2024</h2>
                        <h5><span>satış</span> 50%</h5>
                    </div>
                    <div class="discount__countdown" id="countdown-time">
                        <div class="countdown__item">
                            <span>22</span>
                            <p>gün</p>
                        </div>
                        <div class="countdown__item">
                            <span>18</span>
                            <p>saat</p>
                        </div>
                        <div class="countdown__item">
                            <span>46</span>
                            <p>dakika</p>
                        </div>
                        <div class="countdown__item">
                            <span>05</span>
                            <p>saniye</p>
                        </div>
                    </div>
                    <a href="#">Şimdi Al</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Discount Section End -->
<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Hızlı bilet teslimi</h6>
                    <p>Email ile anında teslim</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Para iadesi</h6>
                    <p>Önemli sebepler özelinde Iban üzerinden geri iade </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"></i>
                    <h6>Online tam destek 24/7</h6>
                    <p>Müşteriler için özel arge ile oluşturulmuş bir ekip</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Güvenli Ödeme</h6>
                    <p>100% güvenlir Ödeme</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->
<!-- Instagram Begin -->
<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="@Url.Content("~/img/instagram/buz.png")">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">Artysan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="@Url.Content("~/img/instagram/richard.jpg")">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">Artysan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="@Url.Content("~/img/instagram/sıla.png")">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">Artysan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="@Url.Content("~/img/instagram/mustafa.jpg")">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">Artysan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="@Url.Content("~/img/instagram/deadpool.jpg")">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">Artysan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="@Url.Content("~/img/instagram/amadeus.jpg")">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">Artysan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#searchForm').on('submit', function (e) {
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                url: '@Url.Action("Index", "Event")',
                type: 'GET',
                data: formData,
                success: function (result) {
                    $('#searchResults').html(result);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });
</script>
<!-- Instagram End -->