@model IEnumerable<RoleViewModel>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Rol Listesi</h3>

<p>
	<a asp-action="Create" asp-controller="Role" asp-area="Admin">Yeni Rol Oluştur</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Count() > 0)
		{
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Description)
					</td>
					<td>
						<a asp-action="Edit" asp-controller="Role" asp-area="Admin" asp-route-id="@item.Id">Edit</a>
						<a asp-action="Delete" asp-controller="Role" asp-area="Admin" asp-route-id="@item.Id">Delete</a>
						@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
						@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="3">
					<div class="alert alert-danger text-controller">
						<strong>Kayıtlı rol bulunmamaktadır</strong>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
